<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/">
        <span>KEEP IN TOUCH</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        
        <div>
            <button class="p-link layout-topbar-button" (click)="op1.toggle($event)">
                <i class="pi pi-user"></i>
                <span>Profile</span>
            </button>
            <p-overlayPanel #op1 [showCloseIcon]="true" [style]="{width: '150px'}">
                <div class="flex flex-wrap gap-2">
                    <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info"></button>
                    <button pButton pRipple type="button" (click)="logOut()" icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
                </div>
            </p-overlayPanel>
        </div>
    </div>
</div>