<div class="card">
    <div style="padding-bottom: 1rem;" class="text-center">
        <button pButton pRipple type="button" (click)="openPostForm()" label="New Post" class="p-button-rounded"></button>
    </div>
    <div *ngFor="let post of data">
        <p-panel [toggleable]="true" class="line-height-3 m-0">
            <ng-template pTemplate="header">
                <span class="p-buttonset">
                    <button pButton pRipple (click)="updatePost(post)" label="Update" icon="pi pi-refresh"></button>
                    <button pButton pRipple (click)="deletePost(post?.id)" label="Delete" icon="pi pi-trash"></button>
                </span>
            </ng-template>

            <p>
                {{post?.description}}
            </p>
        </p-panel>
    </div>
</div>
<app-post-form (postSaved)="onPostSaved()" [value]="value" [isUpdate]="isUpdate" [updatePostModal]="updatePostModal" [display]="display"></app-post-form>